.scoreContainer {
  margin-top: 50px;
  text-align: center;
}
.scoreContainer span {
  margin-top: 10px;
  color: orange;
}
.scoreContainer > p {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}
.scoreContainer > button {
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: inherit;
  font-size: 25px;
  color: #000;
}
