.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.linkList {
  margin-right: auto;
}
.link {
  text-decoration: none;
  color: black;
}
.link:not(:last-child) {
  margin-right: 20px;
}
@media (min-width: 778px) {
  .linkList {
    margin-right: 50px;
  }
}
.headerContainer > button {
  padding: 0;
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  font-style: italic;
  color: black;
  font-size: 10px;
}
