@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: monospace;
  font-style: italic;
  font-size: 17px;
  line-height: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(#bbb, transparent 1px),
    linear-gradient(90deg, #bbb, transparent 1px);
  background-size: 20px 20px;
  background-position: center center;
  padding: 0 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.activeLetter {
  text-align: center;
  display: inline-block;
  width: 25px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 1px solid tomato;
  border-radius: 50%;
  background-color: blueviolet;
  pointer-events: none;
}
.nonActiveLetter {
  text-align: center;
  display: inline-block;
  width: 25px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 1px solid tomato;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 778px) {
}
